<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pets avistados</ion-title>
    <ion-buttons slot="end">
      <ion-icon size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="pesquisar">
      <ion-searchbar placeholder="Buscar..." animated="true" [(ngModel)]="filterTerm"></ion-searchbar>
    </div>
    <div class="pets">
      <div class="pet" *ngFor="let item of animais | filter:filterTerm"
        routerLink="/pets-details/{{item.status_id}}/{{item.id}}">
        <div class="pet-img">
          <img src="{{item.photo}}">
        </div>
        <div class="card-dados">
          <div class="dado" *ngIf="item.species == 'Cachorro'">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/dog-sit.png" />
            <p class="nome">{{item.name}}</p>
          </div>
          <div class="dado" *ngIf="item.species == 'Gato'">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/pet-commands-train.png" />
            <p class="nome">{{item.name}}</p>
          </div>
          <div class="dado" *ngIf="item.sex == 'M'">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/male.png" />
            <p>Macho, {{item.size}}</p>
          </div>
          <div class="dado" *ngIf="item.sex == 'F'">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/female.png" />
            <p>Fêmea, {{item.size}}</p>
          </div>
          <div class="dado">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/marker--v1.png" />
            <div *ngIf="item.times.dias == '0 dias'">
              <p>{{item.sighted.last_seen}}
              </p>
            </div>
            <div *ngIf="item.times.dias != '0 dias'">
              <p>{{item.sighted.last_seen}}, há
                {{item.times.anos ? item.times.anos : ''}}
                {{item.times.meses ? item.times.meses : ''}}
                {{item.times.dias ? item.times.dias : ''}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
