<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-img src="../../assets/logo.png"></ion-img>
    </ion-buttons>
    <ion-title>
      Olá, {{nameUser}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="container">
  <div class="text-info">
    <p>Encontre outros pets cadastrados a mais tempo no App.</p>
  </div>

  <div class="btns-pets">
    <div class="pet" routerLink="/pets-lost">
      <div class="pet-img-lost">
        <ion-img src="../../assets/lost.png"></ion-img>
      </div>
      <div class="pet-text">
        <p>Desaparecidos</p>
      </div>
    </div>
    <div class="pet" routerLink="/pets-sighted">
      <div class="pet-img-sighted">
        <ion-img src="../../assets/sighted.png"></ion-img>
      </div>
      <div class="pet-text">
        <p>Avistados</p>
      </div>
    </div>
  </div>
  <div class="title-info">
    <p>Registros recentes</p>
  </div>
</div>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="container">
    <div>
      <ion-list>
        <ion-row>
          <ion-col sizeLg="2" sizeMd="4" sizeXs="6" *ngFor="let item of animais"
            routerLink="/pets-details/{{item.status_id}}/{{item.id}}">
            <div class="card">
              <div class="card-img">
                <img src="{{item.photo}}">
                <div class="card-status-lost" *ngIf="item.status_id == 1">
                  <p>DESAPARECIDO</p>
                </div>
                <div class="card-status-sighted" *ngIf="item.status_id == 3">
                  <p>AVISTADO</p>
                </div>
              </div>
              <div class="card-dados">
                <div class="dado" *ngIf="item.species == 'Cachorro'">
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/dog-sit.png" />
                  <p class="nome">{{item.name}}</p>
                </div>
                <div class="dado" *ngIf="item.species == 'Gato'">
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/pet-commands-train.png" />
                  <p class="nome">{{item.name}}</p>
                </div>
                <div class="dado" *ngIf="item.sex == 'M'">
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/male.png" />
                  <p>Macho, {{item.size}}</p>
                </div>
                <div class="dado" *ngIf="item.sex == 'F'">
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/female.png" />
                  <p>Fêmea, {{item.size}}</p>
                </div>
                <div class="dado">
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/marker--v1.png" />
                  <div *ngIf="item.times.dias == '0 dias'">
                    <p>{{item.sighted.last_seen}}</p>
                  </div>
                  <div *ngIf="item.times.dias != '0 dias'">
                    <p>{{item.sighted.last_seen}}, há
                      {{item.times.anos ? item.times.anos : ''}}
                      {{item.times.meses ? item.times.meses : ''}}
                      {{item.times.dias ? item.times.dias : ''}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>

        </ion-row>
      </ion-list>
    </div>
  </div>
</ion-content>
