<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <img src="https://img.icons8.com/ios-glyphs/30/000000/dog-house.png" />
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img src="https://img.icons8.com/ios-glyphs/30/000000/pets.png" />
      <ion-label>Meus Pets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src="https://img.icons8.com/ios-glyphs/30/000000/guest-male.png"/>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
