<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon></ion-icon>
    </ion-buttons>
    <ion-title>Meus Pets</ion-title>
    <ion-buttons slot="end">
      <ion-icon></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="pets">
      <div class="pet" *ngFor="let item of animais" routerLink="/pet-sightings/{{item.id}}">
        <div class="pet-img">
          <img src="{{item.photo}}">
        </div>
        <div class="pet-text">
          <div class="pet-date">
            <p>{{item.status}} - {{item.date_disappearance}}</p>
          </div>
          <div class="pet-name">
            <p>{{item.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" routerLink="/cadastro-pet">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
