<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Avistamento</ion-title>
    <ion-buttons slot="end">
      <ion-icon></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form [formGroup]="cadastro_form">

      <div class="campos">
        <p>Data do avistamento</p>
        <ion-item>
          <ion-datetime (ionChange)="changeDate($event)" displayFormat="DD-MMM-YYYY"></ion-datetime>
        </ion-item>
      </div>

      <div class="campos">
        <p>Última vez visto</p>
        <ion-item class="inputs">
          <ion-input type="text" formControlName="last_seen" placeholder="Rua"></ion-input>
        </ion-item>
        <div class="msgError" *ngIf="f.last_seen.invalid && f.last_seen.touched">
          <p>O campo última vez visto é obrigatório!</p>
        </div>
      </div>

      <div class="campos">
        <p>Está com o Pet?</p>
        <ion-item class="inputs">
          <ion-select formControlName="user_pet" placeholder="Selecione um">
            <ion-select-option value="false">Não</ion-select-option>
            <ion-select-option value="true">Sim</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="btn">
        <ion-button expand="block" [disabled]="!cadastro_form.valid" (click)="petsSightedStore()">
          Enviar
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
