<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Avistamento</ion-title>
    <ion-buttons slot="end">
      <ion-icon></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form [formGroup]="cadastro_form">

      <div class="campos">
        <p>Data do avistamento</p>
        <ion-item class="inputs">
          <input formControlName="data_sighted" type="text" mask="0000-M0-d0" />
        </ion-item>
        <div class="msgError" *ngIf="f.data_sighted.invalid && f.data_sighted.touched">
          <p>O campo data de avistamento é obrigatório!</p>
        </div>
      </div>
      <div class="campos">
        <p>Última vez visto</p>
        <ion-item class="inputs">
          <ion-input type="text" formControlName="last_seen"></ion-input>
        </ion-item>
        <div class="msgError" *ngIf="f.last_seen.invalid && f.last_seen.touched">
          <p>O campo última vez visto é obrigatório!</p>
        </div>
      </div>

      <div class="btn">
        <ion-button expand="block" [disabled]="!cadastro_form.valid" (click)="petsSightedStore()">
        <!-- <ion-button expand="block" (click)="petsStore()"> -->
          Enviar
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
