// HEADER
.header-md::after {
  position: fixed;
}

ion-header {
  background: white;

  ion-toolbar {
    text-align: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    ion-title {
      font-weight: bold;
      font-size: medium;
    }
  }
}

.container {
  margin: 20px 10px;

  .pets {
    .pet {
      display: flex;
      align-items: center;
      box-shadow: 0px 0px 20px rgb(0 0 0 / 25%);
      border-radius: 10px;
      margin-bottom: 10px;

      .pet-img {
        border-radius: 10px;
        width: 100px;
        height: 90px;

        img {
          width: 100px;
          height: 90px;
          border-radius: 10px;
        }
      }

      .card-dados {
        position: relative;
        margin: 0 5px;

        img {
          width: 15px;
          height: 15px;
        }

        .dado {
          display: flex;
          align-items: center;
          width: 100%;

          .nome {
            font-weight: bold;
            margin: 0 0 0 5px;
            font-size: 15px;
          }

          p {
            margin: 3px 5px;
            font-size: 12px;
          }

        }
      }
    }
  }

  .cadastro-btn {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 10%;

    ion-button {
      --background: #FFFF00;
      font-weight: bold;
      color: black;
      text-transform: none;
    }
  }

}
